.git__home-page .search-field {
    margin: 30px;
    position: relative;
    left: 50%; 
    margin-left: -200px
}

.git__home-page .MuiList-root {
    position: relative;
    left: 50%; 
    margin-left: -200px
}

.git__home-page .user-link {
    width: 100%;
    text-decoration: none;
    color: black;
}