.git__home-page .search-field {
     margin-top: 20px;
    margin-left: 20px;
    width: 400px;
    /* position: relative;
    left: 50%; 
    margin-left: -200px    */
  } 

 .git__home-page .MuiList-root { 
    margin-left: 20px; 
    /* position: relative; */
    /* left: 50%;  */
    /* margin-left: -200px; */
     /* width: fit-content;*/
} 

 .git__home-page .user-link {
    width: 100%;
    text-decoration: none;
    color: black;
} 