.rooting_component{
    margin-top: 1%;
    width: 8%;
    text-align: center;
    /* background-color: red; */
    word-wrap:break-word;
    overflow: hidden;
    margin-left: 1%;
    /* background-color: rgb(255, 255, 255); */
    height: 10%;
    /* padding-left: 0.9%; */
    /* padding-right: 2.9%; */
    /* border-bottom: 1px solid rgb(130, 130, 130); */
    display: flex;
    flex-direction: column;
    align-items: center;
}